# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
name: Deploy to AKS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
  IMAGE_NAME: employee-shift-scheduler
  IMAGE_TAG: ${{ github.sha }}
  AKS_CLUSTER_NAME: demoKub8SpringbootCluster
  AKS_RESOURCE_GROUP: BTKONSEPT_RG
  NAMESPACE: default
  CHART_PATH: ./helm-charts

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.REGISTRY_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ env.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .
          docker push ${{ env.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      
      - name: Set AKS Context
        uses: azure/aks-set-context@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          resource-group: ${{ env.AKS_RESOURCE_GROUP }}
          cluster-name: ${{ env.AKS_CLUSTER_NAME }}
      
      - name: Setup Helm
        uses: azure/setup-helm@v1
        with:
          version: 'v3.8.1'
      
      - name: Deploy to AKS with Helm
        run: |
          helm upgrade --install employee-shift-app ${{ env.CHART_PATH }} \
            --namespace ${{ env.NAMESPACE }} \
            --set image.repository=${{ env.REGISTRY_URL }}/${{ env.IMAGE_NAME }} \
            --set image.tag=${{ env.IMAGE_TAG }} \
            --atomic        